body{
    background-color: aquamarine;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.container{
    color:black;
}
.digit{
    font-size: 100px;
    font-weight: bold;
}
.txt{
    font-weight: bold;
}
.btn_container{
    text-align: center;
    margin-top: 30px;
}
.btn{
    padding: 5px 24px;
    font-size: 18px;
    margin: 8px 14px;
    border: 2px solid black;
    border-radius:5px;
    cursor: pointer;
}
.btn:hover{
color: rgb(88, 124, 124);
}