body{
    /* background-color: rgb(107, 238, 90); */
    background-color: rgb(7, 28, 43);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.container{
    color:rgb(255, 255, 255);
}
.digit{
    font-size: 100px;
    font-weight: bold;
}
.txt{
    font-weight: bold;
}
.btn_container{
    text-align: center;
    margin-top: 30px;
}
.btn{
    padding: 5px 24px;
    font-size: 18px;
    margin: 8px 14px;
    border: 2px solid white;
    border-radius:5px;
    cursor: pointer;
    background-color: rgb(172, 125, 54);
}
.btn:hover{
color: rgb(255, 255, 255);
}
@media(max-width:518px){
    body{
        background-color: rgb(7, 28, 43);
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100vh;
    }
    .digit{
        font-size: 40px;
    }
    .btn_container{
        text-align: center;
        margin-top: 30px;
    }
    .btn{
        padding: 9px 16px;
    font-size: 3px;
    margin: 8px 14px;
    border: 1px solid white;
    cursor: pointer;
    }
    #start{
        font-size: 8px;
    }
    #stop{
        font-size: 8px;
    }
    #reset{
        font-size: 8px;
    }
    .txt{
        font-size: 10px;
    }
}
